{% extends 'base.html' %}
{% block title %}
Invoice Print Page
{% endblock %}
{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row" style="height: 100vh;">
                <div class="w-100">
                    <div class="w-100">
                        <div class="col-4 mb-4">
                            <div id="section-to-print" class="d-block my-3 py-3 border p-2">
                                <h1 class="text-center">Gold House</h1>
                                <hr>
                                <h6><b>Invoice ID</b><span class="float-right">{{ invoice.invoice_number }}</span></h6>
                                <p><b>Total Price</b><span class="float-right">{{ product_total_price|round(2) }}</span></p>
                                <p><b>Product Total Count</b><span class="float-right">{{ invoice_product_list|length }}</span></p>
                                <p><b>Product Total Gramm</b><span class="float-right">{{ product_total_gramm|round(2) }}</span></p>
                                <p><b>Dealer Name</b><span class="float-right">{{ user.full_name }}</span></p>
                                <p><b>Dealer Phone</b><span class="float-right">{{ user.phone_number }}</span></p>
                                <hr>
                                <h4 class="text-center">Type List</h4>
                                <hr>
                                {% for salary in salary_list %}
                                    {% set salary_total_gramm = namespace(total=0) %}
                                    {% set salary_total_price = namespace(total=0) %}
                                    {% set total_count = namespace(total=0) %}
                                    {% for invoice_product in invoice_product_list %}    
                                        {% for product in product_list %}
                                            {% if invoice_product.product_id == product.id and salary.type == product.type %}
                                                {% set salary_total_gramm.total = salary_total_gramm.total + product.gramm %}
                                                {% set salary_total_price.total = salary_total_price.total + product.price %}
                                                {% set total_count.total = total_count.total + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    <p><b>Type</b><span class="float-right">{{ salary.type }}</span></p>
                                    <p><b>Total Gramm</b><span class="float-right">{{ salary_total_gramm.total|round(2) }}</span></p>
                                    <p><b>Total Price</b><span class="float-right">{{ salary_total_price.total|round(2) }}</span></p>
                                    <p><b>Total Count</b><span class="float-right">{{ total_count.total|round(2) }}</span></p>
                                    <hr>
                                {% endfor %}
                                <p class="text-center text-small text-muted">Created At | {{ invoice.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                            </div>
                            <button class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover btn-primary" style="font-size: 20px;" onclick="window.print()">Print</button>
                            <a href="{{ url_for('invoice_list_page') }}" class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover btn-primary mt-2" style="font-size: 20px;">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}