{% extends 'base.html' %}
{% block title %}
Invoice List Page
{% endblock %}
{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row" style="height: 100vh;">
                <div class="col-2" style="background-color: darkblue;">
                    <div class="w-100 my-5">
                        <h1 class="display-6 text-center text-white">Gold House</h1>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('home_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Bosh sahifa</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('client_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Mijozlar</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('dealer_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Dillerlar</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('salary_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Ish haqi</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('consumption_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Harajatlar</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('product_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Mahsulotlar</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('invoice_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Hisob faktura</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('worker_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Ishchi</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('profile_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Profil</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('logout_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover-logout"
                            style="font-size: 20px;">Chiqish</a>
                    </div>
                </div>
                <div class="col-10">
                    <div class="col-12 mx-auto" style="margin-top: 50px;">
                        <div class="w-100 mx-auto d-flex justify-content-between align-items-center">
                            <h2>Total Gramm: {{ product_total_gramm }}</h2>
                            <h2>Total Price: {{ product_total_price }}</h2>
                        </div>
                        {% for salary in salary_list %}
                            {% set salary_total_gramm = namespace(total=0) %}
                            {% set salary_total_price = namespace(total=0) %}
                            {% for product in product_list %}
                                {% if salary.type == product.type %}
                                    {% set salary_total_gramm.total = salary_total_gramm.total + product.gramm %}
                                    {% set salary_total_price.total = salary_total_price.total + product.price %}
                                {% endif %}
                            {% endfor %}
                            <div class="w-100 mx-auto d-flex justify-content-between align-items-center">
                                <h2>Total Gramm {{ salary.type }}: {{ salary_total_gramm.total|round(2) }}</h2>
                                <h2>Total Price {{ salary.type }}: {{ salary_total_price.total|round(2) }}</h2>
                            </div>
                        {% endfor %}
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th>#</th>
                                <th>Invoice Number</th>
                                <th>Dealer Name</th>
                                <th>Status</th>
                                <th>Total Price</th>
                                <th>Created At</th>
                                <th>
                                    Action
                                    <a href="{{ url_for('invoice_product_create_page') }}" class="btn btn-success float-right">Add</a>
                                </th>
                            </tr>
                            {% for invoice in invoice_list %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ invoice.invoice_number }}</td>

                                    {% for user in user_list %}
                                        {% if user.id == invoice.user_id %}
                                            <td>{{ user.full_name }}</td>
                                        {% endif %}
                                    {% endfor %}

                                    <td>{{ invoice.status }}</td>
                                    <td>{{ invoice.total_price|round(2) }}</td>
                                    <td>{{ invoice.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                    <td>
                                        <a href="{{ url_for('invoice_delete_page', invoice_id=invoice.id) }}" class="btn btn-danger">Delete</a>
                                        <a href="{{ url_for('invoice_update_page', invoice_id=invoice.id) }}" class="btn btn-warning">Update</a>
                                        <a href="{{ url_for('invoice_get_page', invoice_id=invoice.id) }}" class="btn btn-primary">Get</a>
                                        <a href="{{ url_for('invoice_print_page', invoice_id=invoice.id) }}" class="btn btn-success">Print</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if invoice_list|length == 0 %}
                                <tr>
                                    <td colspan="7" class="text-center">No invoices found.</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}