{% extends 'base.html' %}
{% block title %}
Invoice Update Page
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-6">
                <p class="text-center text-muted mt-3" style="font-size: 40px; font-weight: 300;">Invoice Update Page</p>
                <form method="post" class="col-12">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.dealer.label(style="font-size: 20px") }}
                        {{ form.dealer(class="form-control", placeholder="select dealer", style="font-size: 20px") }}
                    </div>
                    {{ form.submit(class='btn btn-primary w-100', style='background-color: darkblue; outline: none !important; box-shadow: none !important; border: 0; font-size: 22px;') }}
                    <a href="{{ url_for('invoice_list_page') }}" class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover btn-primary mt-3" style="font-size: 20px;">Back</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}