{% extends 'base.html' %}
{% block title %}
Invoice Product Create Page
{% endblock %}
{% block content %}
<section>
    <div class="container-fluid">
        <div class="row" style="height: 100vh;">
            <div class="col-2" style="background-color: darkblue;">
                <div class="w-100 my-5">
                    <h1 class="display-6 text-center text-white">Gold House</h1>
                </div>
                <div class="col-10 mx-auto my-4">
                    <a href="{{ url_for('home_page') }}"
                        class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                        style="font-size: 20px;">Bosh sahifa</a>
                </div>
                <div class="col-10 mx-auto my-4">
                    <a href="{{ url_for('client_list_page') }}"
                        class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                        style="font-size: 20px;">Mijozlar</a>
                </div>
                <div class="col-10 mx-auto my-4">
                    <a href="{{ url_for('dealer_list_page') }}"
                        class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                        style="font-size: 20px;">Dillerlar</a>
                </div>
                <div class="col-10 mx-auto my-4">
                    <a href="{{ url_for('salary_list_page') }}"
                        class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                        style="font-size: 20px;">Ish haqi</a>
                </div>
                <div class="col-10 mx-auto my-4">
                    <a href="{{ url_for('consumption_list_page') }}"
                        class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                        style="font-size: 20px;">Harajatlar</a>
                </div>
                <div class="col-10 mx-auto my-4">
                    <a href="{{ url_for('product_list_page') }}"
                        class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                        style="font-size: 20px;">Mahsulotlar</a>
                </div>
                <div class="col-10 mx-auto my-4">
                    <a href="{{ url_for('invoice_list_page') }}"
                        class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                        style="font-size: 20px;">Hisob faktura</a>
                </div>
                <div class="col-10 mx-auto my-4">
                    <a href="{{ url_for('worker_list_page') }}"
                        class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                        style="font-size: 20px;">Ishchi</a>
                </div>
                <div class="col-10 mx-auto my-4">
                    <a href="{{ url_for('profile_page') }}"
                        class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                        style="font-size: 20px;">Profil</a>
                </div>
                <div class="col-10 mx-auto my-4">
                    <a href="{{ url_for('logout_page') }}"
                        class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover-logout"
                        style="font-size: 20px;">Chiqish</a>
                </div>
            </div>
            <div class="col-10">
                <div class="col-12 mx-auto" style="margin-top: 50px;">
                    <div class="w-100 mx-auto my-4">
                        <form class="form-inline my-4 float-right" method="get" action="{{ url_for('invoice_product_create_page', query=name) }}">
                            <label class="sr-only" for="inlineFormInputName2">Search</label>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th>#</th>
                                <th>QR</th>
                                <th>Title</th>
                                <th>Gramm</th>
                                <th>Proba</th>
                                <th>Type</th>
                                <th>Number</th>
                                <th>Size</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>
                                    Action
                                    {% if product_list|length == 0 %}
                                    <a href="{{ url_for('product_list_page') }}"
                                        class="btn btn-primary float-right">Add Product</a>
                                    {% else %}
                                        {{ form.hidden_field(id='hidden_field') }}
                                        {{ form.submit(class='btn btn-primary float-right') }}
                                    {% endif %}
                                </th>
                            </tr>
                            {% for product in product_list %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <img src="{{ url_for('static', filename='qr_code/' + product.qr_code) }}" alt="QR Code"
                                        style="width: 50px; height: 50px;">
                                </td>
                                <td>{{ product.title }}</td>
                                <td>{{ product.gramm }}</td>
                                <td>{{ product.proba }}</td>
                                <td>{{ product.type }}</td>
                                <td>{{ product.number }}</td>
                                <td>{{ product.size }}</td>
                                <td>{{ product.status }}</td>
                                <td>{{ product.price }}</td>
                                <td>
                                    <button class="btn btn-success" id="check-product-{{ product.id }}"
                                        onclick="change('{{ product.id }}')" type="button">+</button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% if product_list|length == 0 %}
                            <tr>
                                <td colspan="10" class="text-center">No products found.</td>
                            </tr>
                            {% endif %}
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    localStorage.removeItem('getIds')
    const getIds = JSON.parse(localStorage.getItem('getIds')) || [];
    function change(id) {
        const checkProductButton = document.getElementById('check-product-' + id);
        console.log(checkProductButton.innerText);
        
        if (checkProductButton.innerText == '+') {
            checkProductButton.innerText = '-';
            checkProductButton.classList.remove('btn-success');
            checkProductButton.classList.add('btn-danger');
            getIds.push(id)

            localStorage.setItem('getIds', JSON.stringify(getIds))
            data = JSON.parse(localStorage.getItem('getIds')) || [];
            document.getElementById('hidden_field').setAttribute('value', data)
        } else {
            checkProductButton.innerText = '+';
            checkProductButton.classList.remove('btn-danger');
            checkProductButton.classList.add('btn-success');
            let id_index = getIds.indexOf(id)
            delete getIds[id_index]
            getIds[id_index] = -1

            localStorage.setItem('getIds', JSON.stringify(getIds))
            data = JSON.parse(localStorage.getItem('getIds')) || [];    
            document.getElementById('hidden_field').setAttribute('value', data)
        }
    }
</script>
{% endblock %}