{% extends 'base.html' %}
{% block title %}
Main System Get Page
{% endblock %}
{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row" style="height: 100vh;">
                <div class="col-2" style="background-color: darkblue;">
                    <div class="w-100 my-5">
                        <h1 class="display-6 text-center text-white">Gold House</h1>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('home_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Bosh sahifa</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('client_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Mijozlar</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('dealer_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Dillerlar</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('salary_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Ish haqi</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('consumption_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Harajatlar</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('product_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Mahsulotlar</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('invoice_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Hisob faktura</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('worker_list_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Ishchi</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('profile_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover"
                            style="font-size: 20px;">Profil</a>
                    </div>
                    <div class="col-10 mx-auto my-4">
                        <a href="{{ url_for('logout_page') }}"
                            class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover-logout"
                            style="font-size: 20px;">Chiqish</a>
                    </div>
                </div>
                <div class="col-10">
                    <div class="col-10 mx-auto" style="margin-top: 150px;">
                        <h1 class="display-6 text-center">Main System Details</h1>
                        <div class="col-10 mx-auto mb-4">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Lom</th>
                                    <td>{{ main_system.lom }}</td>
                                </tr>
                                <tr>
                                    <th>Room Total</th>
                                    <td>{{ total_room }}</td>
                                </tr>
                                <tr>
                                    <th>Comment</th>
                                    <td>{{ main_system.comment }}</td>
                                </tr>
                                <tr>
                                    <th>Created At</th>
                                    <td>{{ main_system.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                </tr>
                            </table>
                            <h1 class="display-6 text-center mt-5">Room List</h1>
                            <table class="table table-bordered">
                                <tr>
                                    <th>#</th>
                                    <th>Lom</th>
                                    <th>Comment</th>
                                    <th>Created At</th>
                                    <th>Action
                                        <a href="{{ url_for('room_create_page', main_system_id=main_system.id) }}" class="btn btn-success float-right">Add</a>
                                    </th>
                                </tr>
                                {% for room in room_list %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ room.lom }}</td>
                                        <td>{{ room.comment }}</td>
                                        <td>{{ room.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                        <td>
                                            <a href="{{ url_for('room_delete_page', room_id=room.id) }}" class="btn btn-danger">Delete</a>
                                            <a href="{{ url_for('room_update_page', room_id=room.id) }}" class="btn btn-warning">Update</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if room_list|length == 0 %}
                                    <tr>
                                        <td colspan="5" class="text-center">No rooms found.</td>
                                    </tr>
                                {% endif %}
                            </table>
                            <a href="{{ url_for('main_system_list_page') }}" class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover btn-primary" style="font-size: 20px;">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}