{% extends 'base.html' %}
{% block title %}
Product Print Page
{% endblock %}
{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row" style="height: 100vh;">
                <div class="w-100">
                    <div class="w-100 mx-auto">
                        <div class="mb-4">
                            <div id="section-to-print" style="background: url('../../static/img/fon.jpg'); background-size: 260px 310px; width: 260px; height: 310px;" class="d-block my-3 py-3">
                                <p style="margin-left: 200px; margin-bottom: 0;">{{ product.type }}{{ product.number }}</p>
                                <h6 class="text-center">{{ product.title }}</h6>
                                <p class="text-center">Proba | {{ product.proba }}</p>
                                <p class="text-center">Gramm | {{ product.gramm }}</p>
                                <p class="text-center">Size | {{ product.size }}</p>
                                <p class="text-center"><b>GOLD HOUSE</b> | <img src="{{ url_for('static', filename='qr_code/' + product.qr_code) }}" alt="QR Code" style="width: 65px; height: 65px;"></p>
                                <p class="text-center text-small text-muted">Thans for buy</p>
                            </div>
                            <div style="width: 260px;">
                                <button class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover btn-primary" style="font-size: 20px;" onclick="window.print()">Print</button>
                                <a href="{{ url_for('product_list_page') }}" class="w-100 rounded py-2 text-center text-white text-decoration-none btn button-hover btn-primary mt-2" style="font-size: 20px;">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}